body
{
background-image: url(../images/water.JPEG);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

.gif-center
{
background-image: url(../images/water.JPEG);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
text-align: center;
padding-bottom: 0;
}

#game-button
{
text-align: center;
}

.gif-topics
{
margin-left: 5px;
color:black;
margin-bottom: 5px;
}

.form-group
{
width: 25%;
margin-left: 37.5%
}

.form-control
{
margin-top: 10px;
}

label
{
color: black;
font-size: 15px;
font-weight: bolder;
margin-top: 25px;
}

#rating-paragraph
{
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bolder;
color: black;
font-size: 15px;
margin-top: 10px;
margin-bottom: 10px;
}

#gif-submit-form
{
    margin-bottom: 10px;
}

#gif-central
{
    background-image: url(../images/water.JPEG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.row
{
    margin: 5px;
}

@media screen and (max-width: 760px)
{
    #game-gif
    {
        width: 100%;
    }

}
