body
{
background-image: url(../images/glass.png);
background-repeat: no-repeat;
background-size: cover;
}

.gif-center
{
background-color: darkgray;
text-align: center;
}

#game-button
{
text-align: center;
}

.gif-topics
{
margin-left: 5px;
}

.form-group
{
width: 25%;
margin-left: 37.5%
}

.form-control
{
margin-top: 10px;
}

label
{
color: blue;
font-size: 15px;
font-weight: bolder;
}